@model RolesFormViewModel

<form method="post" asp-action="Add">
    <div class="input-group mb-3">
        <input type="text" asp-for="Name" class="form-control" placeholder="Add Role"/>
        <div class="input-group">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
</form>